version: '3.3'

networks:
 main:
  name: mini-x-network

services:
  app:
    image: minixgroupd/miniximage:latest
    container_name: mini-x
    networks:
      - main
    volumes:
      - ./databases:/databases/
    ports:
      - "5000:5000"
      - "5001:5001"
    