version: '3.3'

networks:
 main:
  name: mini-x-network

services:
  postgres:
    image: postgres:latest
    container_name: pg_db
    environment:
      POSTGRES_DB: mini-x
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes: 
      - ./databases:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - main
  app:
    build:
      context: .
      shm_size: '128m'
    container_name: mini-x
    networks:
      - main
    volumes:
      - ./databases:/databases/
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@pg_db:5432/mini-x
    depends_on:
      - postgres


  prometheus:
    image: prom/prometheus
    container_name: prometheus
    networks:
      - main
    ports:
      - "9090:9090"
    command: --config.file=/etc/prometheus/prometheus.yaml
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yaml

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    networks:
      - main
    ports:
      - '3000:3000'
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin

