version: '3.3'

networks:
  elk:
  main:
    name: mini-x-network

services:
  postgres:
    image: postgres:latest
    container_name: pg_db
    environment:
      POSTGRES_DB: mini-x
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./src/schema.sql:/docker-entrypoint-initdb.d/psql_dump.sql
    ports:
      - "5432:5432"
    networks:
      - main
  app:
    build:
      context: .
      shm_size: '128m'
    container_name: mini-x
    networks:
      - main
    ports:
      - "5000:5000"
      - "5001:5001"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@pg_db:5432/mini-x
    depends_on:
      - postgres

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    networks:
      - main
    ports:
      - "9090:9090"
    command: --config.file=/etc/prometheus/prometheus.yaml
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yaml

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    networks:
      - main
    ports:
      - '3000:3000'
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin

  elasticsearch:
    image: "docker.elastic.co/elasticsearch/elasticsearch:8.6.2"
    container_name: es
    environment:
        - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
        - "discovery.type=single-node"
        - "xpack.security.enabled=false"
    volumes:
        - elk_elasticsearch_data:/usr/share/elasticsearch/data
    networks:
        - elk
    ports:
      - 9200:9200

  kibana:
    image: "docker.elastic.co/kibana/kibana:8.6.2"
    container_name: kibana
    environment:
        - "elasticsearch.hosts='[\"http://elasticsearch:9200\"]'"
        - "xpack.security.enabled=false"
    networks:
        - elk
    volumes:
        - kibanadata:/usr/share/kibana/data
    ports:
      - 5601:5601

  filebeat:
    image: "docker.elastic.co/beats/filebeat:8.6.2"
    container_name: filebeat
    environment:
        - "ELK_USER=filebeat-dev"
        - "ES_URL=elasticsearch:9200"
        - "ES_PROTOCOL=http"
        - "ES_USERNAME=elastic"
        - "ES_PASSWORD=elastic"
    user: root
    volumes:
        - ./filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
        - /var/lib/docker:/var/lib/docker:ro
        - /var/run/docker.sock:/var/run/docker.sock
    networks:
        - elk

volumes:
  postgres_data:
  elk_elasticsearch_data:
  kibanadata: