---
name: Continuous Deployment

on:
  push:
    branches:
      - main
      
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push miniximage
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/miniximage:latest
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/miniximage:webbuildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/miniximage:webbuildcache,mode=max

#      - name: Build and push mysqlimage
#        uses: docker/build-push-action@v2
#        with:
#          context: .
#          file: ./Dockerfile-mysql
#          push: true
#          tags: ${{ secrets.DOCKER_USERNAME }}/mysqlimage:latest
#          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/mysqlimage:mysqlbuildcache
#          cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/mysqlimage:mysqlbuildcache,mode=max

#      - name: Build and push flagtoolimage
#        uses: docker/build-push-action@v2
#        with:
#          context: .
#          file: ./Dockerfile-flagtool
#         push: true
#          tags: ${{ secrets.DOCKER_USERNAME }}/flagtoolimage:latest
#          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/flagtoolimage:flagtoolbuildcache
#          cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/flagtoolimage:flagtoolbuildcache,mode=max

      - name: Test minix
        run: |
          docker build -t $DOCKER_USERNAME/minixtestimage -f Dockerfile_mini-x_test .
          yes 2>/dev/null | docker-compose up -d
          docker run --rm --network=mini-x-network $DOCKER_USERNAME/minixtestimage
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}

#      - name: Configure SSH
#        run: |
#          mkdir -p ~/.ssh/
#          echo "$SSH_KEY" > ~/.ssh/do_ssh_key
#          chmod 600 ~/.ssh/do_ssh_key
#        env:
#          SSH_KEY: ${{ secrets.SSH_KEY }}
#
#      - name: Deploy to server
#        run: >
#          ssh $SSH_USER@$SSH_HOST
#          -i ~/.ssh/do_ssh_key -o StrictHostKeyChecking=no
#          'docker compose -f /vagrant/docker-compose.yml up --pull always -d'
#        env:
#          SSH_USER: ${{ secrets.SSH_USER }}
#          SSH_HOST: ${{ secrets.SSH_HOST }}