---
name: Continuous Deployment

on:
  push:
    branches:
      - main
      
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Test minix
        run: |
          docker build -t $DOCKER_USERNAME/minixtestimage -f Dockerfile_mini-x_test .
          yes 2>/dev/null | docker compose -f docker-compose-dev.yml up -d 
          docker run --rm --network=mini-x-network $DOCKER_USERNAME/minixtestimage
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}

      - name: Build and push miniximage
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/miniximage:latest
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/miniximage:webbuildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/miniximage:webbuildcache,mode=max

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/do_ssh_key
          chmod 600 ~/.ssh/do_ssh_key
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}

      - name: Update server docker compose
        run: >
          scp -i ~/.ssh/do_ssh_key 
          -o StrictHostKeyChecking=no 
          ./docker-compose.yml 
          $SSH_USER@$SSH_HOST:/vagrant/docker-compose.yml
        env:
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_HOST: ${{ secrets.SSH_HOST }}

      - name: Deploy to server
        run: >
          ssh $SSH_USER@$SSH_HOST
          -i ~/.ssh/do_ssh_key -o StrictHostKeyChecking=no
          'docker compose -f /vagrant/docker-compose.yml up --pull always -d --remove-orphans'
        env:
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_HOST: ${{ secrets.SSH_HOST }}